/* Basic Styling */
.EmployeeApp,
.ManagerApp {
	display: flex;
}

.main-content {
	flex: 1;
	overflow-y: auto;
	box-sizing: border-box;
}

body {
	background-color: #bcbcbc;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	color: #333333;
}
